## ide
.vscode
.idea
.vs
.DS_Store
*/.DS_Store
.git

## Data and cache files
/log
/db
/test
/cache
/work

## nohup print and log files
*.out
*.log
*.tmp
*.backup
*.bkp
*.yaml
*.toml

## Binaries for programs and plugins
main
bucket*
sm*
*.exe
*.dll
*.so
*.a